body {
  display: block;
  margin: 150px auto;
  background: hsl(217, 54%, 11%);
}
p {
  color: hsl(215, 51%, 70%);
  display: inline-block;
  font-weight: 300;
}
hr {
  color: hsl(215, 51%, 70%);
  font-weight: 600;
  border-width: 3px;
  border-radius: 100px;
}

.main-card {
  background-color: hsl(216, 50%, 16%);
  display: block;
  margin: 0 auto;
  width: 300px;
  height: auto;
  /* height: 510px; */
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 25px #000;
}
.photo-card img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 5px;
}
.text-content {
  margin: 20px auto;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}
.heading {
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  letter-spacing: 1.2px;
}
.position {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}
.position img {
  padding: 0 5px 3px 0;
}

.timeframe {
  color: hsl(215, 51%, 70%);
  font-weight: 400;
  text-align: right;
}
.timeframe img {
  padding: 0 5px 3px 0;
}
.user-avatar-container {
  display: inline-block;
  border-radius: 100px;
  margin-right: 10px;
}
.user-avatar {
  width: 25px;
  height: auto;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 100px;
}
.user {
  color: hsl(0, 0%, 100%);
}
.creator {
  font-size: 15px;
}
.attribution {
  margin: 18px auto;
  font-size: 11px;
  text-align: center;
  color: hsl(215, 51%, 70%);
}
.attribution a {
  color: #fff;
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .col-md-6 {
    max-width: 50%;
  }
}
