body {
  display: block;
  margin: 150px auto;
  background-color: gray;
  /* hsl(218, 55%, 11%); */
  /* hsl(217, 54%, 16%); */
}
hr {
  background-color: hsl(215, 32%, 27%);
  /* margin-left: 50px;
  margin-right: 50px; */
}
p {
  color: hsl(215, 51%, 70%);
  display: inline-block;
  font-size: 18px;
}
.main-card {
  background-color: hsl(216, 50%, 16%);
  display: block;
  margin: 0 auto;
  width: 300px;
  height: auto;
  padding: 25px;
  border-radius: 10px;
}
.photo-card img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 5px;
}
.text-content {
  color: hsl(0, 0%, 100%);
  margin: 20px auto;
}
.position {
  color: hsl(178, 100%, 50%);
}
.position img {
  padding: 0 5px 3px 0;
}
.timeframe {
  color: hsl(215, 51%, 70%);
}
.timeframe img {
  padding: 0 5px 3px 0;
}
.user-avatar-container {
  display: inline-block;
  background-color: hsl(0, 0%, 100%);
  border-radius: 100px;
  margin-right: 10px;
  padding: 1px;
}
.user-avatar {
  width: 30px;
  height: auto;
}
.user {
  color: hsl(0, 0%, 100%);
}
.attribution {
  margin: 15px auto;
  font-size: 11px;
  text-align: center;
  color: hsl(215, 51%, 70%);
}
.attribution a {
  color: #fff;
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}
